.mainHeader{
    height: 65px;
    border-bottom: 1px solid #DDD;
    border-radius: 20px;
}

.mainHeader .headerContent{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;

    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postList{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 30px;
    
}

.postList article{
    background: #FFF;
    border: 1px solid #DDD;
    margin-top: 30px;
    
    border-radius: 20px;
    
    filter: drop-shadow(6px 4px 10px rgba(0, 0, 0, 0.2));
}
.postList article header{
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postList article header .userInfo{
    display: flex;
    flex-direction: column;
    
    font-weight: 600;
}

.postList article header .userInfo span{
    font-size: 15px;
}

.postList article header .userInfo span.place{
    font-size: 11px;
    color:#666;
    margin: 3px;
}

.postList article > img{
    width: 100%;
    border-radius: 10px;

    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.8));
}

.postList article footer{
    padding: 20px;
}

.postList article footer .actions{
    margin-bottom: 10px;

}

.postList article footer .actions img{
    height: 20px;
    margin-right: 10px;
}

.postList article footer .titulo{
    font-weight: 600;
}


.postList article footer p{
    font-size: 13px;
    margin-top: 2px;
    line-height: 18px;
}

.postList article footer p span{
    color:#7159c1;
    display: block;
}

.tooltip{
    border-radius: 10px;
}

.content{
    height: 100vh;
}

.PostsAlunoGrid{
    filter: drop-shadow(6px 4px 10px rgba(0, 0, 0, 0.2));
}

.PostsAlunoGridD{
    display: contents;
    
    filter: drop-shadow(6px 4px 10px rgba(0, 0, 0, 0.2));
}